.App {
  text-align: center;
}

.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  margin-top: 20px;
  padding: 10px 20px;
  gap: 10px;
}